#contact_modal {
    display: none;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}



body {
    margin: 50px 100px;
    padding: 0;
    font-family: sans-serif;
}

.photographer_header {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    background-color: #FAFAFA;
    border-radius: 5px;
    padding: 50px;
    align-items: center;
}

.photographer_identity {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.photographer_name {
    color: #D3573C;
    margin: 0;
    font-weight: 400;
    font-size: 36px;
}

.photographer_location {
    font-weight: 400;
    margin: 0;
    font-size: 26px;
    color: #901C1C;
}

.photographer_slogan {
    color: #525252;
    font-weight: 400;
    margin: 0;
    font-size: 16px;
}

.photographer_modal {
    background-color: #911C1C;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    height: fit-content;
    padding: 20px 10px;
}

.photographer_picture {
    width: 96px;
    height: 96px;
    border-radius: 50%;
}