/* MODAL  */

/* Cacher le modal */

.contact_modal {
  display: none;
  position: fixed;
  padding-top: 100px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 9999;
}

#contact_modal {
  display: none;
}

.button_contact {
  color: #000000;
}

.photograph-header {
  background-color: #fafafa;
  height: 300px;
  margin: 0 100px;
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}

.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
}

.modal header {
  justify-content: space-between;
  width: 100%;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 49px;
  font-weight: normal;
  text-align: center;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}

/* BANNER PHOTOGRAPHER */

#body-photographer {
  /* margin: 50px 100px; */
  padding: 0;
  font-family: "DM Sans", sans-serif;
}

.photographer_header {
  /* margin-top: 50px; */
  display: flex;
  justify-content: space-between;
  background-color: #fafafa;
  border-radius: 5px;
  padding: 50px;
  align-items: center;
  margin: 0 5% 2em 5%;
}

.photographer_identity {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.photographer_name {
  color: #d3573c;
  margin: 0;
  font-weight: 400;
  font-size: 36px;
}

.photographer_location {
  font-weight: 400;
  margin: 0;
  font-size: 26px;
  color: #901c1c;
}

.photographer_slogan {
  color: #525252;
  font-weight: 400;
  margin: 0;
  font-size: 16px;
}

.photographer_modal {
  background-color: #901c1c;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  font-family: "DM Sans", sans-serif;
  height: fit-content;
  padding: 20px 10px;
  font-size: 16px;
  min-width: 150px;
}

#click_button {
  cursor: pointer;
}

.photographer_modal:hover {
  background-color: #db8876;
  color: rgb(0, 0, 0);
}

.photographImg {
  width: 96px;
  height: 96px;
  object-fit: cover;
  border-radius: 50%;
}

.photographer_picture {
  width: 96px;
  height: 96px;
  object-fit: cover;
  border-radius: 50%;
}

.lightboxMedia {
  width: 350px;
  height: 300px;
  object-fit: cover;
  border-radius: 3%;
}

#mediaslist {
  display: flex;
  flex-wrap: wrap;
  gap: 23px 95px;
  justify-content: center;
  text-align: center;
  position: relative;
}

.caption {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

h2 {
  color: #901c1c;
  font-weight: normal;
  font-size: 20px;
}

.like {
  color: #901c1c;
  font-weight: normal;
}

/* * {
  border-style: dotted;
  border-color: rgb(139, 135, 135);
  border-width: 1px;
} */

/* MENU SELECT  */

.filter {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: start;
  gap: 15px;
  margin: 10px;
  padding-top: 20px;
  padding-bottom: 40px;

}

.filter-select {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901C1C;
  border-radius: 5px;
  cursor: pointer;
}



/* #bloc_tri {
  background-color: aqua;
} */

#bloc_form {
  display: flex;
  flex-direction: column;
  /* min-height: 100px;
  font-weight: bold;
  margin-bottom: 50px;
  margin-top: 50px; */
}

#tri {
  color: #000000;
  font-size: 18px;
  font-weight: bold;
  font-family: "DM Sans", sans-serif;
  cursor: pointer;
}

form label {
  color: #000000;
  font-size: 18px;
  font-weight: bold;
  font-family: "DM Sans", sans-serif;
}

.alltri {
  cursor: pointer;
}

.price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  right: 15px;
  bottom: 0px;
  padding: 5px;
  background-color: #D3573C;
  color: #000;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 215px;
  height: 50px;
  font-size: 25px;
  z-index: 1;
}